{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<h2>Inicia Sesion</h2>
<br>
<form method="post" action="{% url 'login' %}" class='form'>
{% csrf_token %}

  <p>{{ form.username.label_tag }}</p>
  {{ form.username }}
  <p>{{ form.password.label_tag }}</p>
  {{ form.password }}
<br>
  <input class='itemForm' type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}