*{
	box-sizing: border-box;
	margin: 0;
	font-family: arial;
}

.principal{
	height: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.navegacion{
	height: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap:  nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navegacion .items{

	max-width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.login-register{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.item{
	text-decoration: none;
	max-width: 400px;
	font-size: 20px;
	padding: 20px;
	color: black;
	margin: 5px;
}
.item-2{
	height: 100px;
	/*position: absolute;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.item-2 a {
	display: block;
	padding: 13px;
	background-color: black;
	font-weight: bold;
	color: white;
	margin: 2px;
}


.contenido{
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.form .itemForm{
	width: 70%;
	padding: 15px;
	margin-top: 5px;
	font-size: 20px;
}
.form input{
	width: 70%;
	padding: 15px;
	margin-top: 5px;
	font-size: 20px;
}
.form .btn{
	width: 50%;
	padding: 15px;
	margin-top: 5px;
}

.error{
	background: rgba(0,0,0,0.5);
	position: fixed;
	top:0px; left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.error-log{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background-color: red;
	padding: 30px;
	height: 20%;
	width: 40%;
}

.contenido-productos{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categorias{
	width: 30%;

}

.productos{
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.sectionProductos{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.productoItem{
	width: 25%;
	padding: 10px;
}
ul{
	list-style-type: none;
	border-bottom: 3px;
	border-color: black;
	border-bottom: 3px;
	border-color: black;
}

ul li{
	padding: 5px;

}

.reserva{
	width: 100%;
	/*margin: auto;*/
}
table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
  border: 0.5px solid grey;
  padding: 5px;
}
table th{
	height: 40px;
}

.btn-general{
	align-self: flex-end;
	border: 4px solid #DB4242;
	font-size: 20px;
	width: 40%;
	padding: 14px;
	background-color: red;
	color: white;
	font-weight: bold;
}

.register-step{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap:  wrap;
	justify-content: space-around;
	align-items: center;
}
.register-step p{
	width: 30%;
	color: white;
	display: block;
	background: red;
	margin: 5px;
	padding: 10px;
	text-align: center;
}