{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	 
	<title>Todo a un Click</title>
</head>
<body>
	<section class='principal'>
		<nav class='navegacion'>
			<div class='logo'>
				<img src='{% static "imgs/todo_click_logo.png" %}'>
			</div>
			<div class="items">
				
				<a href='{%url "lista_productos" %}'class='item'>Productos</a>
				<a href='./reserva.html'class='item'><i class="material-icons md-48">shopping_cart</i></a>


				<div class=' item login-register' >
					<a href="/formuser.html" style="color: black"> <i class="material-icons md-48">person_outline</i> </a>
					{% if not user.is_authenticated %}
					<div class="item-2" style="display: none">
						<a href='{% url "signin" %}'class='item'>Indentificate</a>
						<a href='{% url "login" %}'class='item'> Inicia Sesión</a>

					</div>
					{% else %}
					<div class="item-2" style="display: none">
						<a href='' class='item'> Ver Perfil</a>
						<a href='{% url "logout" %}'class='item'>Salir</a>
					</div>					
					{% endif %}
				</div>
				
				
			</div>
		</nav>
		<hr>
		<article class='contenido'>

		{% block content %}
		{% endblock %}

		</article>
		<br>
		<hr>
		<br>
		<footer>

				© Todo a un click 2019

		</footer>

	</section>
	<script type="text/javascript" src='{% static "js/main.js" %}'></script>
</body>
</html>