{% extends 'base.html' %}
{% block content %}
<div class="register-step">
	<p>Crear Cuenta</p>
	<p style="background: maroon;">Confirmacion de mail</p>
	<p>Datos Personales</p>
	<p>Informacion de pago</p>
</div>

<p style="color:red"> La confirmacion de mail no fue incluida porque no funciona sino hay internet.</p>
<br>
<p>
	Graicas por confirmar tu email!.
</p>
<br>
<a href="{% url 'profile' user_id=user_id %}" > Siguiente </a>

{% endblock %}