{% extends 'base.html' %}
{% block content %}
<div>
	<button class='encuesta'>Hacer encuesta de preferencias.</button>
</div>
<article class='contenido-productos'>

	<div class='categorias'>
		<h2> Categorias</h2>
		<p style="color: red">**Esta funcionalidad no completa!**</p>
		<br>
		<ul>
		  <li>Hoteles
				<ul>
					<li>NH</li>
					<li>HILTON</li>
					<li>SHERATON</li>
					<li>INTERCONTINENTAL</li>
					<li>FOUR SEASONS</li>
					<li>NYATT</li>
				</ul>
		  </li>
		  <li>Vuelos
				<ul>
					<li>AEROLINEAS ARGENTINAS</li>
					<li>FLY BONDI</li>
					<li>AMERICAN AIRLINES</li>
					<li>AVIANCA</li>
					<li>DELTA</li>
				</ul>
		  </li>
		  <li>Cines
				<ul>
					<li>VILLAGES</li>
					<li>HOYTS</li>
					<li>CINEMARK</li>
				</ul>
		  </li>
		  <li>Autos
				<ul>
					<li>TOYOTA</li>
					<li>NISSAN</li>
				</ul>
		  </li>
		</ul>
	</div>




	<div class='productos'>
		<div>
			<h2> Ofertas</h2>
			<hr>
			<div class='sectionProductos'>

				{% for producto in productos1 %}
				<div class='productoItem'>
					<h3>{{ producto.titulo}}</h3>
					<p>{{ producto.descripcion }}</p>
					<p>{{ producto.ubicacion }}</p>
					<br>
					<p><strong>{{ producto.precio }}</strong></p>
				</div>

				{% endfor %}
			</div>
		</div>

		<div>
			<h2> Categoria Sugerida</h2>
			<hr>
			<div class='sectionProductos'>
				{% for producto in productos2 %}
				<div class='productoItem'>
					<h3>{{ producto.titulo}}</h3>
					<p>{{ producto.descripcion }}</p>
					<p>{{ producto.ubicacion }}</p>
					<br>
					<p><strong>{{ producto.precio }}</strong></p>
				</div>

				{% endfor %}
		</div>

	<div>
		<h2> Otra Categoria Sugerida</h2>
		<hr>
		<div class='sectionProductos'>
			<div class='productoItem'>
				<h3>Producto 1</h3>
				<p>US $ 40.56</p>
			</div>
			<div class='productoItem'>
				<h3>Producto 1</h3>
				<p>US $ 40.56</p>
			</div>
			<div class='productoItem'>
				<h3>Producto 1</h3>
				<p>US $ 40.56</p>
			</div>
			<div class='productoItem'>
				<h3>Producto 1</h3>
				<p>US $ 40.56</p>
			</div>
		</div>
	</div>
</div>

</article>

{% endblock %}