{% extends 'base.html' %}
{% block content %}
<div class="register-step">
	<p >Crear Cuenta</p>
	<p>Confirmacion de mail</p>
	<p>Datos Personales</p>
	<p style="background: maroon;">Informacion de pago</p>
</div>
<form method='POST' class='form'>
	{% csrf_token %}
	
	<p>Numero de Tarjeta:</p>
	{{ form.nro_tarjeta_credito }}
	{% for error in form.nro_tarjeta_credito.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Nombre y apellido completo de la tarjeta:</p>
	{{ form.nombre_apellido }}
	{% for error in form.nombre_apellido.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Fecha de vencimiento de la tarjeta:</p>
	{{ form.vencimiento }}
	{% for error in form.vencimiento.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Ultimos tres digitos de la parte posterior:</p>
	{{ form.digitos }}
	{% for error in form.digitos.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}


	<input type='submit' value='Registrarse'  class='btn' />
</form>
{% endblock  %}