{% extends 'base.html' %}
{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<div class="register-step">
	<p>Crear Cuenta</p>
	<p>Confirmacion de mail</p>
	<p style="background: maroon;">Datos Personales</p>
	<p>Informacion de pago</p>
</div>
<br>
<h3> Datos de usuario: {{ username }}</h3>
<br>
<form method='POST' class='form'>
	{% csrf_token %}

	<p>Fecha Nacimiento:</p>
	{{ form.f_nacimiento }}
	{% for error in form.f_nacimiento.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>DNI:</p>
	{{ form.dni }}
    {% for error in form.dni.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}

	<p>Domicilio:</p>
	{{ form.domicilio }}
    {% for error in form.domicilio.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}

	<p>Usuario de referencia:</p>
	{{ form.usuario_referencia }}
	{% for error in form.usuario_referencia.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}
	<input type="submit" value="Enviar" class='btn'>
</form>
{% endblock %}