{% extends 'base.html' %}
{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<div class="register-step">
	<p style="background: maroon;">Crear Cuenta</p>
	<p>Confirmacion de mail</p>
	<p>Datos Personales</p>
	<p>Informacion de pago</p>
</div>

<form method='POST' class='form'>
	{% csrf_token %}

	<p>Nombre:</p>
	{{ form.email }}
	{% for error in form.email.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Username:</p>
	{{ form.username }}
    {% for error in form.username.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}

	<p>Nombre:</p>
	{{ form.first_name }}
    {% for error in form.first_name.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}

	<p>Apellido:</p>
	{{ form.last_name }}
	{% for error in form.last_name.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Contraseña:</p>
	{{ form.password }}
	{% for error in form.password.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}

	<p>Confirmar contraseña:</p>
	{{ form.confirm_password }}
    {% for error in form.confirm_password.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
	<input type="submit" value="Enviar" class='btn'>
</form>
{% endblock %}